/* Styles for sign in form */

/* Layout */
.authForm {
  display: flex;
  flex-direction: column;
  width: 250px;
}

/* Base input styles */
.authForm > input {
  margin-bottom: 10px;
  color: var(--cl-text-secondary);
  background-color: var(--cl-input-background);
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 12px 15px;
  z-index: 1;
}

/* Focus style */
.authForm > input:focus {
  box-shadow: inset 0px 0px 0px 2px var(--cl-primary-base);
}

/* Error message boxes */
.formError {
  font-size: 0.8rem;
  background-color: var(--cl-primary-base);
  color: var(--cl-button-text);
  padding: 15px 10px 6px;
  border-radius: 0px 0px 10px 10px;
  margin: -20px 0 10px;
}

/* Server error style */
.serverError {
  font-size: 0.8rem;
  background-color: var(--cl-primary-base);
  color: var(--cl-button-text);
  padding: 6px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Submit button */
.submitButton {
  cursor: pointer;
  font-size: 1rem;
  color: var(--cl-button-text);
  background-color: var(--cl-button-background);
  border-radius: 10px;
  border: none;
  padding: 12px 15px;
  transition: background 0.3s;
}

/* Submit button -> hover */
.submitButton:hover {
  background-color: var(--cl-button-hover);
}

/* Submit button -> disabled */
.submitButton:disabled {
  opacity: 0.6;
}
